EXPO_PUBLIC_SUPABASE_URL=https://sixcofuuyyjxexwqzhcx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpeGNvZnV1eXlqeGV4d3F6aGN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NzAxMTIsImV4cCI6MjA4OTM0NjExMn0.K36lBowe8rp2CgRKLj8RIPSkvxiVkZDJsJDtTbVqKX8
EXPO_PUBLIC_API_URL=https://your-studyarc-web.vercel.app




# NEXT_PUBLIC_SUPABASE_URL=https://sixcofuuyyjxexwqzhcx.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpeGNvZnV1eXlqeGV4d3F6aGN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NzAxMTIsImV4cCI6MjA4OTM0NjExMn0.K36lBowe8rp2CgRKLj8RIPSkvxiVkZDJsJDtTbVqKX8
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpeGNvZnV1eXlqeGV4d3F6aGN4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzc3MDExMiwiZXhwIjoyMDg5MzQ2MTEyfQ.nAIklb_AomGf8cyRNZuY6B6uYw-byyRahRn5Jzvx968
